.contact-page-container .first-part-contact span {
  display: inline-block;
  width: 1px;
  height: 150px;
  background-color: white;
}

.contact-page-container .first-part-contact h2 {
  filter: drop-shadow(2px 2px 1px white);
  letter-spacing: 2px;
}

.contact-page-container .second-part-contact span {
  display: inline-block;
  height: 1px;
  width: 70%;
  background-color: rgb(89, 160, 8);
  margin-top: 10px;
}

.third-part-contact .msg-box {
  width: 220px;
  /* height: 240px; */
  border: 1px solid rgb(117, 71, 202);
  border-radius: 10px;
}


.third-part-contact .msg-box a {
  height: 40px;
  width: 70%;
  border: 1px solid rgb(89, 160, 8);
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
  border-radius: 6px;
}

.third-part-contact .msg-box a:nth-child(odd) {
  border-color: rgb(13, 151, 70)
}

.contact-page-container .all-medias span {
  display: inline-block;
  height: 1px;
  width: 70%;
  background-color: rgb(89, 160, 8);
}

.contact-page-container .media-links a {
  height: 50px;
  width: 220px;
  border: 1px solid rgb(117, 71, 202);
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 10px;
}

.contact-page-container .media-links {
  padding: 0 100px;
  row-gap: 40px;
  column-gap: 60px;
  justify-content: space-around;
}

@media (max-width: 1000px) {

  .contact-page-container {
    padding: 0 40px;
  }

  .contact-page-container .media-links {
    padding: 0px;
  }
}

@media (max-width: 750px) {
  .contact-page-container .third-part-contact {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .contact-page-container.media-links a {
    font-size: 1rem !important;
    width: 140px;
  }

  .contact-page-container .media-links {
    column-gap: 10px;
    row-gap: 20px;
  }

  .contact-page-container {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .contact-page-container .third-part-contact br {
    display: none;
  }

  .contact-page-container .second-part-contact span {
    width: 40%;
  }

  .contact-page-container .all-medias span {
    width: 40%;
  }
}